{% extends 'base.html' %}

{% block content %}

{% load rest_framework %}
{% csrf_token %}

<div class="py-3 mx-40">
    <h4 >Your Recipes</h4>
</div>
    <!-- all recipes in cards -->

    
    <div class="container">
        <div class="row mx-3">
            {% for recipe in serializer.data %}
          
            <div class="card w-25 ml-3">
                <img class="imgs card-img-top img-responsive" src="{{recipe.image}}" alt="" >
                <div class="card-body">
                    <h5 class="card-title">{{recipe.name }}</h5>
                   
                    <!-- <p class="card-text text-justify">{{recipe.description}}</p> -->
                    <a href="{% url 'detail-recipe' recipe.id %}" class="btn btn-info">Know Recipe</a>
                   
                  </div>
            </div>
       
        {% endfor %}
      
    </div>
        </div>

        

{% endblock %}