{% extends 'base.html' %}

{% block content %}





    <!-- SPECIFIC DETAIL recipe in cards -->
   <form method="POST" action="">
    <div class="container my-4 ">
      {% csrf_token %}
      <h3>What You wanna Eat?</h3>
      <div class="input-group my-3 mr-auto " style="width:400px;">
        <input type="search" class="form-control rounded " placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
      
      </div>
    </form>
{% endblock %}